.read-the-docs {
  color: #888;
}

.board-row{
  /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  display: flex;
}
  